.jumbotron {
    text-align: center;
    height: 500px;
    background-size: cover;
    background-position: center;
    position: relative;
    opacity: 1;
}

.jumbotron h1, .jumbotron h2 {
    color: whitesmoke;
    font-weight: 900px;
}

.jumbotron h1 {
    font-size: 60px;
    padding-top: 140px;
    margin-top: 0;
    font-family: 'Coda Caption', sans-serif;

}