.footer {
    color: black;
    height: 100px;
    margin-top: 150px;
    background: #6956AF;
}

li {
    display: inline-block;
    padding-top: 5px
}

.contact {
    font-family: 'Karla', sans-serif;
}

.contact a{
    /* text-decoration: none; */
    color: white;
    font-size: 20px;
}